<form name="waitlistForm">
  <div class="modal-header">
    <h4 class="modal-title">Wanna be a Blinkcaster?</h4>
  </div>
  <div class="modal-body">
    <input
      type="email"
      name="email"
      class="form-control"
      ng-model="email"
      placeholder="Enter your email address"
      required/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="submit()">Sign me up</button>
    <button class="btn btn-warning" ng-click="close()">Cancel</button>
  </div>
</form>
