<div>
  <div class="modal-header">
    <h4 class="modal-title">Wanna be a Blinkcaster?</h4>
  </div>
  <div class="modal-body">
    <p>Blink.fm is currently in private beta version. Join our
      <a target="_blank"
         ng-click="onFBLinkClick()"
         style="text-decoration: underline"
         href="https://www.facebook.com/groups/968332449844066/">
        Facebook Group</a>
      to become a beta Blinkcaster and we will give you early access soon.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="close()">Gotcha</button>
  </div>
</div>
