<div class="col-sm-4 col-sm-offset-4" style="padding-top: 80px">
  <h1 style="margin-bottom: 15px"><span class="fa fa-sign-in"></span> Login</h1>

  <!-- show any messages that come back with authentication -->
  <div class="alert alert-danger" ng-if="message.length != 0">{{message}}</div>

  <!-- LOGIN FORM -->
  <form class="form-group">
    <input type="text" class="form-control" ng-model="login.user.username" placeholder="Enter username">
    <br>
    <input type="password" class="form-control" ng-model="login.user.password" placeholder="Password">
    <br>
    <button class="btn btn-primary btn-lg btn-block" ng-click="login.submit()">Login</button>
  </form>

</div>
