<search-bar ng-show="currentUser"></search-bar>
<br>

<div ng-controller="NicknameModalCtrl">
  <script type="text/ng-template" id="nicknameModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Enter a Nickname</h3>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" ng-model="nickname" placeholder="Enter a nickname" style="width: 79%">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="submit()">Submit</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>

<div ng-controller="ChatCtrl" class="row">
  <div class="col-sm-7">
    <div ng-controller="YouTubeCtrl" style="width: {{yt.width}}px">
      <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
    </div>
  </div>
  <div scroll-glue="!g" class="col-sm-5 chat-window">
    <ul class="list-unstyled">
      <li><b>Test:</b> Test message</li>
      <li ng-repeat="message in chat.messages"><b>{{message.sender}}: </b>{{message.body}}</li>
    </ul>
  </div>
  <div class="col-sm-5 chat-input">
    <form class="form-inline">
      <input type="text" class="form-control" ng-focus="chat.verify()" ng-model="chat.message" placeholder="Enter a message" style="width: 79%">
      <button class="btn btn-default btn-primary" ng-click="chat.send()" style="width: 20%">Send</button>
    </form>
  </div>
</div>

<div ng-controller="ChatCtrl" class="row">
    The host is {{hostStatus}} now
</div>



