<div ng-controller="NicknameModalCtrl">
  <script type="text/ng-template" id="nicknameModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Enter a Nickname</h3>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" ng-model="nickname" placeholder="Enter a nickname" style="width: 79%">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="submit()">Submit</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>

<div class="row">
  <div class="col-sm-7" ng-switch="isBroadcasterConnected">
    <span ng-switch-when="true"> <i class="fa fa-circle green-icon"></i> The host is online now </span>
    <span ng-switch-when="false"> <i class="fa fa-circle red-icon"></i> The host is offline now </span>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <div ng-controller="YouTubeCtrl" style="width: {{yt.width}}px">
      <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
    </div>
    {{viewerCount}} people watching
    <playing-queue ng-controller="QueueCtrl" ng-show="isBroadcaster"></playing-queue>
  </div>
  <chat-window class="col-sm-5" ng-controller="ChatCtrl"></chat-window>
</div>


