<div class="col-sm-4 col-sm-offset-4 login-container" style="padding-top: 80px">
  <form name="waitlistForm" ng-show="!formSubmitted">
    <h1 style="margin-bottom: 15px"> Waitlist</h1>

    <p><strong>Blink.fm</strong> is going to mobile soon. Stay tuned !!!</p>
    <p>Please sign up below to receive the latest updates from us.</p>

    <input
      type="email"
      name="email"
      class="form-control"
      ng-model="email"
      placeholder="Enter your email address"
      required/>

    <button style="margin-top: 10px" class="btn btn-success pull-right" ng-click="submit()">Sign me up</button>
  </form>
</div>

<div ng-show="formSubmitted">
  <div class="modal-header">
    <h4 class="modal-title">Thank you for signing up!</h4>
  </div>
  <div class="modal-body">
    <p>We have added your email to the signup queue. We will notify you soon when the app is ready for beta users.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="close()">Gotcha</button>
  </div>
</div>
