<div ng-controller="ChatCtrl" class="row">
  <div scroll-glue="!g" class="col-sm-5 chat-window">
    <ul class="list-unstyled">
      <li><b>Test:</b> Test message</li>
      <li ng-repeat="message in chat.messages"><b>{{message.sender}}: </b>{{message.body}}</li>
    </ul>
  </div>
  <div class="col-sm-5 chat-input">
    <form class="form-inline">
      <input type="text" class="form-control" ng-focus="chat.verify()" ng-model="chat.message"
             placeholder="Enter a message" style="width: 79%">
      <button class="btn btn-default btn-primary" ng-click="chat.send()" style="width: 20%">Send</button>
    </form>
  </div>
</div>
