<nav ng-controller="NavBarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><strong>Blink.fm Beta</strong></a>
    </div>
    <search-bar ng-show="hasCurrentUser" class="navbar-form navbar-left"></search-bar>
    <button type="submit" ng-show="hasCurrentUser" ng-click="logout()" class="btn btn-danger navbar-btn pull-right">
      Logout
    </button>
    <button ng-show="!hasCurrentUser" ng-click="openWaitListModal()" class="btn btn-success navbar-btn pull-right">
      Become a Blinkcaster
    </button>
  </div>
</nav>
